* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  position: absolute;
  overflow-x: hidden;
}
/* fonts */
h1,
h2,
button {
  font-family: "Inter", sans-serif;
}
h6 {
  font-family: "Lobster", cursive;
}
p {
  font-family: "Poppins", sans-serif;
}
/* header section */
header {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),
    url(../images/donation2.jpg);

  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.title {
  padding: 100px 80px;
  margin: 00px 0 0 0;
}

.title h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 68px;
  padding: 0 100px;
}

.title p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 0 100px;
  margin: 20px 100px;
}
.primary-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 6px;
  margin: auto;
  gap: 8px;

  width: 160px;
  height: 56px;
  left: 640px;
  top: 438px;

  background: #ff5959;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.donate {
  text-align: center;
  margin: 80px auto;
}
.donate h1 {
  font-size: 45px;
  margin: 20px;
}
.donate .sub-text {
  display: flex;
  align-items: center;
  margin: 0 200px 20px 200px;
  padding: 20px 80px;
  text-align: center;
}

.pay-amount {
  display: flex;
  justify-content: center;
  margin: 0 200px;
  padding: auto 50px;
  align-items: center;
}
.pay-amount h2 {
  margin: 22px;
  padding: 44px 23px;
  border-radius: 5px;
  color: #707070;
  background-color: #f4f4f4;
}
#selected {
  color: tomato;
  background-color: #ffeeee;
  border: 2px solid tomato;
}
.other-amount {
  color: #b3b3b3;
  margin-top: 20px;
}

.donate hr {
  text-align: center;
  margin: 20px auto;
  width: 70%;
}
.secondary-btn {
  padding: 0;
}

/* our plan section */
.our-plan-container {
  width: 80%;
  margin: 10px auto;
}
.our-plan-header {
  text-align: center;
}

.our-plan-title {
  font-size: 45px;
  font-weight: bold;
  margin: 20px auto;
}
.card {
  display: flex;
  margin-top: 40px;
}
.card1,
.card2,
.card3 {
  margin: 20px;

  padding: 60px 30px;
}

.card1 {
  background-color: #4f9da61a;
}
.card2 {
  background-color: #ff59591a;
}
.card3 {
  background-color: #fff4d6;
}
.card-img {
  margin: 15px 0;
}
.card-title {
  margin: 14px 0;
}

/* contribute section */
.contribute-container {
  width: 80%;
  margin: 150px auto;
}
.contribute {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contribute-txt {
  margin: 30px;
  text-align: start;
}
.contribute-title {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 0;
}
.contribute-description {
  margin: 30px 0 20px 0;
}
.contribute-img {
  height: 450px;
  width: 450px;
  border-radius: 5px;
  margin: 50px;
}
.contribute-btn {
  justify-content: start;
  margin: 0;
  padding: 0 10px;
  margin-top: 10px;
  width: auto;
}
/* newsletter section */
.newsletter {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.newsletter-data h2 {
  font-size: 45px;
  margin: 0 0 30px 0;
}
.newsletter-data p {
  margin: 0 80px 30px 80px;
  padding: 10px 20px;
}
.news-letter-div {
  position: absolute;
}
.news-letter-input {
  display: flex;
  background: #fff4d6;
  width: 809px;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5px;
}

.news-letter-input input[type="text"] {
  width: 432px;
  height: 56px;
  background-color: #c7c1c1be;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
}
.news-letter-input input[type="text"]:focus {
  outline: none;
}
.news-letter-input input[type="text"]::placeholder {
  font-weight: bold;
}
.news-letter-input button {
  display: inline-block !important;
  position: relative;
  top: 2px;
  left: -10px;
}
/* footer section */

.footer {
  margin-top: 100px;
  background: #0b0d17;
  text-align: center;
  padding: 45px;
}
.footer-div h6 {
  color: #ff5959;
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 20px;
}
.footer-div p {
  color: white;
}
